/* Reset and global styles */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #FFE6F8;
}

/* Wrapper for content */
.wrapper {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

/* Styling for the word cloud container */
#word-cloud-container {
  width: 100%;
  margin-top: 10px;
}

/* Center SVG in the container */
svg {
  display: block;
  margin: 0 auto;
}

/* Title and paragraph styling */
h1 {
  color: #2800FF;
  font-size: 50px;
  margin: 10px 0;
}
p {
  font-size: 1.25rem;
  margin: 5px 0;
}

/* Styling for the footer */
.footer {
  text-align: center;
  margin-top: 20px;
}
.footer a {
  text-decoration: none;
  font-weight: bold;
  color: #000;
}
.footer a:hover {
  color: #2800FF;
}

/* Error message styling */
p.error {
  color: #FF0000;
  font-weight: bold;
}
